
<body>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class ="btn-group btn-group-justified">
          <a href="/" class="btn btn-block btn-primary"> How to play </a>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class ="btn-group btn-group-justified">
          <a href="http://localhost:3000/rock" class="btn btn-block btn-primary"> Play rock </a>
          <a href="/paper" class="btn btn-block btn-primary"> Play paper </a>
          <a href="/scissors" class="btn btn-block btn-primary"> Play scissors </a>
        </div>
      </div>
    </div>

    <h1> Click a button above to get started! </h1>

    <h2> Summary </h2>

    <p>
      Rock-paper-scissors or Scissor-Paper-Rock, is a zero-sum hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (✊ a simple fist), "paper" (✋ a flat hand), and "scissors" (✌️ a fist with the index and middle fingers together forming a V). The game has only three possible outcomes other than a tie: a player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors") but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cut paper"). If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.
    </p>
  </div>

</body>
</html>
