<a href="http://localhost:3000/rock"> Play rock </a>
<a href="/paper"> Play paper </a>
<a href="/scissors"> Play scissors </a>

<h1> You played rock<h1>

<h1>
  The computer played <%= @computer_move  %>
</h1>

<h1>
  You <%= @outcome %>!
</h1>


  <!--rout controller action/method view -->
